<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-10 my-3">
      <h1 class="text-center" >Agenda</h1>
      <p class="text-center lead">seus contato estão abaixo</p>

      <%- include('includes/messages'); %>

      <div class="responsive-table overflow-auto">
        <table class="table my-3">

            <tr>
              <td><strong>Nome</strong></td>
              <td><strong>Sobrenome</strong></td>
              <td><strong>DDD</strong></td>
              <td><strong>Telefone/Celu</strong></td>
              <td><strong>E-mail</strong></td>
              <td><strong>Editar</strong></td>
              <td><strong>Excluir</strong></td>
            </tr>
          <% contatos.forEach(contato => { %>
            <tr>
              <td> <%= contato.nome %> </td>
              <td> <%= contato.sobrenome %> </td>
              <td> <%= contato.ddd %></a></td>
              <td> <i class="fa fa-whatsapp"></i>
                   <a href="/home/edit/<%= contato.ddd + contato.telefone %>">
                   <%= contato.telefone %></a></td>
              <td> <%= contato.email %> </td>
              <td> <a href="/contato/index/<%= contato._id %>">&#33;&#61;</a></td>
              <td> <a class="text-danger" href="/contato/delete/<%= contato._id %>"> &#215;</a></td>
            </tr>
        <%  }); %>

        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
